service: lambda-sqs-integrated
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.11
  memorySize: 128
  region: us-east-2

  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "sqs:SendMessage"
            - "sqs:DeleteMessage"
          Resource:
            Fn::GetAtt:
              - PrimeNumberFeedQueue
              - Arn
        - Effect: "Allow"
          Action:
            - "sqs:SendMessage"
          Resource: "${self:custom.sqs_prime_number_target_arn}"

package:
  excludeDevDependencies: true
  exclude:
    - node_modules/**
    - venv/**
    - test/**
    - conftest.py

resources:
  Resources:
    PrimeNumberFeedQueue:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "prime-number-feed-sqs"
        VisibilityTimeout: 60
        MessageRetentionPeriod: 60
        ReceiveMessageWaitTimeSeconds: 20
        RedrivePolicy:
          deadLetterTargetArn:
            "Fn::GetAtt":
              - PrimeNumberFeedDeadLetterQueue
              - Arn
          maxReceiveCount: 10
    PrimeNumberFeedDeadLetterQueue:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "dlq-prime-number-feed-sqs"
        MessageRetentionPeriod: 60


functions:
  prime-numbers-processor:
    timeout: 30
    handler: handler.prime_number_processing
    name: "prime-number-processor-lambda"
    reservedConcurrency: 10
    environment:
      SQS_PRIMES_TARGET: "${self:custom.sqs_prime_number_target_url}"
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - PrimeNumberFeedQueue
              - Arn
          batchSize: 1

custom:
  sqs_prime_number_target_arn: arn:aws:sqs:us-east-2:009958566421:prime-number-target-sqs
  sqs_prime_number_target_url: "https://sqs.us-east-2.amazonaws.com/009958566421/prime-number-target-sqs"


  pythonRequirements:
    pythonBin: python3
    noDeploy:
      - boto3
      - botocore
      - awscli
      - sympy
      - black
      - pytest
      - pytest-mock
plugins:
  - serverless-python-requirements
